version: '3'

services:
    
  web:
    build: .
    depends_on:
      - database
    ports:
      - "8080:8080"
  database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: db
    ports:
      - "3306:3306"

